[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "external/vulkan-zig"]
	path = external/vulkan-zig
	url = https://github.com/Snektron/vulkan-zig
