[submodule "external/bios"]
	path = external/bios
	url = https://github.com/CubeFun/SCPH1001.bin
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "external/vulkan-zig"]
	path = external/vulkan-zig
	url = https://github.com/Snektron/vulkan-zig
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
