name: Build
on: [push, pull_request]
env:
  zig_version: 0.14.0 # FIXME uncomment usage and pin when version is stable

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: goto-bus-stop/setup-zig@v2
        # with:
        #   version: ${{ env.zig_version }}
      # Ubuntu-specific bit
      - run: zig build
      - run: zig build test

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2
        # with:
        #   version: ${{ env.zig_version }}
      - run: zig fmt --check src/*.zig
